PROJECT_CONNECTION_STRING=<your-project-connection-string-from-azure-ml-workspace>
MODEL_DEPLOYMENT_NAME=<your-model-deployment-name>
EMBEDDING_MODEL_DEPLOYMENT_NAME=<your-embedding-model-deployment-name>
TENANT_ID=<your-tenant-id-from-azure-portal>
GROUNDING_WITH_BING_CONNECTION_NAME=<your-bing-search-connection-name>
SERVERLESS_MODEL_NAME=<your-serverless-model-name>
AZURE_TRACING_GEN_AI_CONTENT_RECORDING_ENABLED=true
AZURE_SDK_TRACING_IMPLEMENTATION=opentelemetry
VITE_API_URL=https://localhost:8003
VITE_DEFAULT_THEME=dark
VITE_API_VERSION=v1